@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");
.myBar {
  color: black;
  background-color: #b9dea9;
  font-family: "Noto Sans TC", sans-serif !important;
}
.mItem {
  height: 5vh;
  margin-bottom: 1vh;
  clear: both;
  float: left;
  background-color: #cee7c2;
  border-radius: 3vh;
  display: grid;
  place-items: center;
}
.mItem li {
  padding: 10px 10px 13px 10px;

  width: auto;
  overflow: hidden;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none !important;
  color: black;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.download-button {
  background-color: #cee7c2;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dIcon {
  margin-top: 8px;
  margin-left: 5px;
}
.menuList {
  margin-top: 5px;
  margin-left: 10px;
  background-color: black;
  height: 0;
}
.title {
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 600;
}
.App {
  background: url("assets/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
.Container {
  height: 60vh;
  width: 60vw;
  border-radius: 3vh;
  display: grid;
  place-items: center;
}
.content {
  margin-top: 15vh;
  display: grid;
  place-items: center;
}
.title-sec {
  margin-top: 1.7vh;
  margin-left: 2.8vw;
}
.innerAcceuil {
  font-family: "Noto Sans TC", sans-serif !important;
  padding: 2vh;
  width: 60vw;
  height: fit-content;
  border-radius: 3vh;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
}
.innerAcceuil > p {
  margin: 0;
  font-weight: 500;
}
.innerIns {
  font-family: "Noto Sans TC", sans-serif !important;
  padding: 2vh;
  width: 60vw;
  height: fit-content;
  border-radius: 3vh;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.acceuil-content {
  margin-top: 30vh;
  display: grid;
  place-items: center;
}
.content-title > p {
  font-weight: 900;
  margin: 0;
  text-align: left;
}
.install-content {
  margin-top: 30vh;
  display: grid;
  place-items: center;
}

.imgF {
  width: 50%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/first.png");
}
.imgS {
  width: 40%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/domaines.png");
}
.imgW {
  width: 40%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/welcome.png");
}
.imgT {
  width: 65%;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/second.png");
}
.myCard {
  padding: 15px;
  height: 10vh;
  width: 70vw;
  background-color: #cee7c2;
  border-radius: 20px;
  filter: drop-shadow(0 0 0.2rem grey);
}
.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.inner-card {
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
  justify-content: space-around;
  align-content: space-around;
}
.inner-card p {
  margin: 0px;
}
.inner-card h3 {
  margin: 0px;
}
.email {
  display: flex;
  align-items: center;
}
.mIcon {
  margin-right: 5px;
  padding-top: 6px;
}
.innerContact {
  font-family: "Noto Sans TC", sans-serif !important;
  padding: 2vh;
  width: 80vw;
  height: fit-content;
  border-radius: 3vh;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
}
